/* contenedor carrousel */
#carousel {
  max-width: 60%;
  display: flex;
  flex-direction: row;
  position: relative;
}
/* contenido carrrousel */
#slide-container {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  color: #000000;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-x: hidden; /* Ocultar la barra de desplazamiento horizontal */
  scroll-behavior: smooth; /* Para un desplazamiento suave */
  display: flex; /* Para asegurarte de que los slides se alineen correctamente */
  margin-right: 50px;
}
.slide {
  padding: 20px;
  scroll-snap-align: center;
  position: relative;
  min-width: 100%;
  text-align: center;
}
/** contenedor botones */
.slide-buttons {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 280px;
  padding-left: 110px;
  position: absolute;
}

/* contenedor indicadores */
.slide-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-indicator:after {
  content: "";
  height: 10px;
  width: 50px;
}
.slide-indicator.active:after,
.slide-indicator:hover:after {
  background-color: #f70202;
}

.indicators {
  display: flex;
}

.slide-indicator {
  width: 15px;
  height: 15px;
  background-color: #1427d0;
  visibility: hidden;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slide-indicator.active {
  background-color: #ffffff;
}

#textoinicioslide {
  width: 3000px;
  height: 300px;
}
#textoinicioslide h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 1px;
  line-height: 38px;
  color: var(--azul);
}

#textoinicioslide p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}
