:root {
  --blanco: #dfdcdc;
  --red: #a11a21;
  --verde: #1c5c2a;
  --azul: #13527d;
  --amarillo: goldenrod;

  --border: 1px;
  --borderprocentaje: 4px var(--azul) solid;
}

@font-face {
  font-family: "Billion Dreams";
  src: url("fonts/BillionDreams_PERSONAL.woff") format("woff"); /* Asegúrate de que el formato sea el correcto */
}

@font-face {
  font-family: "Sumac Rocky";
  src: url("fonts/SumacRocky.woff") format("woff"); /* Asegúrate de que el formato sea correcto */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  line-height: 24px;
}
.linea {
  font-family: cursive;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
  flex-wrap: nowrap;
}

.ancho {
  margin: auto;
  padding: 10px;
}

.btn_rojo {
  padding: 10px 30px;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  display: inline-block;
}

header {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cont_padre1 {
  width: 100%;
  color: var(--azul);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

svg {
  width: 50%;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.primerheader {
  width: 100%;
  display: flex;
  margin-left: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.secondheader {
  margin: 10px;
}

.secondheader i {
  margin-right: 10px;
}

.linea {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
  flex-wrap: nowrap;
}

.linea i {
  margin: 2px;
}
.flexs {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icono_circulo {
  color: wheat;
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: var();
  cursor: pointer;
  transition: all 0.5;
}

.pmenu {
  display: none;
}

nav {
  font-size: 20px;
  font-family: "Billion Dreams", sans-serif;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
nav a {
  display: inline-block;
  margin: auto;
  text-decoration: none;
  color: #333;
  align-items: center;
  padding: 18px 20px;
}

nav a:nth-child(5) {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: var(--azul);
  padding: 18px 30px;
  align-items: center;
}
nav a:hover {
  padding: 18px 20px;
  background-color: var(--azul);
  color: white;
}

nav a:hover:nth-child(5) {
  padding: 18px 30px;
  background-color: white;
  color: var(--azul);
}
.contenedor_arriba {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 350px;
}

.logo img {
  width: 100%;
}

#carousel {
  width: 50%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slide {
  width: 300px;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 24px;
}

.slide p {
  margin-bottom: 50px;
  padding: 20px;
  color: white;
  margin: auto;
}

.slide a {
  padding: 20px 30px;
  color: white;
  text-decoration: none;
  background: linear-gradient(
    to top,
    rgba(231, 21, 13, 0),
    var(--red)
  ); /* Transparencia al inicio */
}

.textoinicioslide {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.textoinicioslide svg {
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.slidimg1 {
  background-image: url(imagenes/isla\ columpios\ 1.jpg);
  border-radius: 10px;
}

.slidimg2 {
  background-image: url(imagenes/gaviotas.jpeg);
  border-radius: 10px;
}

.slidimg3 {
  background-image: url(imagenes/paisaje.jpeg);
  border-radius: 10px;
}

.slidimg4 {
  background-image: url(imagenes/Banner\ 1.jpeg);
  border-radius: 10px;
}

.slidimg5 {
  background-image: url(imagenes/Banner\ 2.jpeg);
  border-radius: 10px;
}

.slidimg6 {
  background-image: url(imagenes/Banner\ 3.jpeg);
  border-radius: 10px;
}

.slidimg7 {
  background-image: url(imagenes/Banner\ 4.jpeg);
  border-radius: 10px;
}

.slidimg8 {
  background-image: url(imagenes/Banner\ 5.jpeg);
  border-radius: 10px;
}

.slidimg9 {
  background-image: url(imagenes/Banner\ 6.jpeg);
  border-radius: 10px;
}
.slidimg10 {
  background-image: url(imagenes/Banner\ 7.jpeg);
  border-radius: 10px;
}

.slidimg11 {
  background-image: url(imagenes/Banner\ 8.jpeg);
  border-radius: 10px;
}

.c3 {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 10px;
}

.c3 h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
  color: #13527d;
}

.c3 p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.c3 b {
  color: var(--azul);
}
ul.tabs {
  list-style: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ancho {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.tab_container {
  text-align: center;
}
ul.tabs li {
  box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.2);
  width: 33.33%;
  text-align: center;
}

ul.tabs li a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 10px 30px;
  transition: all 1s;
  margin: 2px;
}

ul.tabs li a:hover {
  background: var(--red);
}
.tab1 {
  background: var(--verde);
  color: white;
}
.tab2 {
  background: var(--amarillo);
  color: white;
}
.tab3 {
  background: var(--azul);
  color: white;
}

.tab_content {
  margin-bottom: 5px;
  padding: 10px;
  font-size: 16px;
}

.tab_content h2,
h1,
h3 {
  margin: 10px;
  color: var(--red);
  font: 20px;
}
#tab1 figure {
  margin: auto;
  width: 400px;
}

#tab1 iframe {
  width: 100%;
}
#tab2 p {
  margin-bottom: 30px;
}
#tab2 a {
  margin-top: 30px;
  padding: 20px 30px;
  background-color: var(--azul);
  color: white;
  text-decoration: none;
  transition: all 1s;
}

#tab2 a:hover {
  background-color: #000;
}

.c2 {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.cont_filtro_letras {
  padding: 30px;
  width: 450px;
  margin-left: 30px;
}
.cont_filtro_letras li {
  margin: 10px;
}

.cont_filtro_letras h1 {
  color: var(--azul);
  font-size: 20px;
}

.cont_filtro_letras h2 {
  margin-bottom: 10px;
}
.cont_filtro_img img:hover {
  filter: grayscale(0%);
  transition: all 0.5s;
}

.cont_filtro_letras h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
}
.cont_filtro_letras h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.cont_filtro_letras p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.cont_filtro_letras li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  margin-left: 20px;
}

.cont_filtro_letras b {
  color: var(--azul);
}
.cont_filtro_img figure {
  width: 300px;
}

.cont_filtro_img img {
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.5s;
}

.c2 p {
  text-align: center;
}

.porcent {
  width: 100%;
  text-align: left;
}
span {
  text-align: end;
}
.dos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#uno,
#dos,
#tres,
#cuatro {
  border-bottom: 4px solid var(--azul); /* Reemplazado por una estructura válida */
}
#uno {
  border-bottom: var(--borderprocentaje);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 10px;
}
#dos {
  border-bottom: var(--borderprocentaje);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin-top: 10px;
}
#tres {
  border-bottom: var(--borderprocentaje);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
#cuatro {
  border-bottom: var(--borderprocentaje);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-top: 10px;
}

.c4 {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 30px;
}

.c4 h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  color: var(--azul);
}
.c4 h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.contenedor_general_animate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.contenedor_general_animate h3 {
  font-size: 40px;
}

.cont_animate {
  width: 270px;
  margin: 20px;
  padding: 20px;
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.5s;
  flex-wrap: wrap;
}

.contenedor_general_animate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Puedes usar space-between o space-around para ajustar el espacio entre los elementos */
}

.cont_animate {
  flex-basis: calc(
    33.33% - 40px
  ); /* 33.33% para tres contenedores por fila, -40px para tener en cuenta los márgenes */
  margin: 10px;
}
.azul {
  background-color: var(--azul);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
.verde {
  background-color: var(--verde);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}

.rojo {
  background-color: var(--red);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
.amarillo {
  background-color: goldenrod;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}

.cont_animate:hover {
  background-color: #000;
}
.cont_animate i {
  color: white;
  font-size: 20px;
}

.cont_filtro_letra2 {
  padding: 30px;
  max-width: 700px;
  margin-left: 30px;
}

.cont_filtro_letra2 li {
  margin: 10px;
}

.cont_filtro_letra2 h1 {
  color: var(--red);
  font-size: 20px;
}

.cont_filtro_letra2 h2 {
  margin-bottom: 10px;
}
.cont_filtro_img img:hover {
  filter: grayscale(0%);
  transition: all 0.5s;
}

.cont_filtro_letra2 h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
}
.cont_filtro_letra2 h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.cont_animate h3 {
  margin-left: 10px;
  color: white;
  font-size: 20px;
}

.acordeon {
  width: 100%;
  margin: auto;
  margin-top: 20px;
}
.acordeon_titulo {
  gap: 20px;
  color: rgb(0, 0, 0);
  padding: 40px;
  font-size: 12px;
  height: a;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.acordeon h2 {
  color: rgb(5, 5, 5);
}
.acordeon h2:hover {
  color: var(--red);
}
.acordeon_contenido {
  display: none;
  margin: 0;
  background: rgba(255, 255, 255, 0.5);
  padding: 1em 1em 1.5em;
  border: 1px #999 solid;
}
.iconos {
  position: relative;
  padding: 0;
  width: 15px;
  height: 15px;
}
.iconos i {
  padding: 3px;
  background: var(--red);
  color: white;
  border-radius: 5px;
}

.mas1,
.mas2,
.mas3,
.mas4 {
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  transition: all 0.3s;
}

.menos1,
.menos2,
.menos3,
.menos4 {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
}

.fathercontainer {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  gap: 20px;
  transition: all 0.8;
}
.conts t2 {
  margin: 2px;
  color: red;
}

.conts b {
  margin: 2px;
  color: black;
}
.conts p {
  margin: 5px;
}
.conts a {
  margin: auto;
  color: white;
  text-decoration: none;
  width: 60%;
  padding: 10px;
}

.conts {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  height: 500px;
  background-color: white;
  transform: scale(1);
  box-shadow: 0px 0px 5px black;
  border: none;
  margin-bottom: 15px;
}

.conts h2 {
  font-size: 30px;
  color: white;
  padding: 10px;
  text-align: left;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.1),
    var(--azul)
  ); /* Transparencia al inicio */
}

.conts h3 {
  font-size: 18px;
  color: white;
  padding: 5px;
  text-align: left;
  text-align: center;
  background: var(--red); /* Transparencia al inicio */
}

.conts h1 {
  font-size: 25px;
}

.conts:hover {
  transform: scale(1.1);
}
.tittle_zoom i {
  font-size: 30px;
  color: rgb(233, 229, 229);
}

.tittle_zoom1 {
  width: 100%;
  height: 250px;
  background-image: url(imagenes/Isla\ Delfines\ 1.jpeg);
  position: relative;
  background-size: cover; /* Escala la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
}

.tittle_zoom2 {
  width: 100%;
  height: 250px;
  background-image: url(imagenes/Ojo\ de\ agua.jpeg);
  position: relative;
  background-size: cover; /* Escala la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
}

.tittle_zoom3 {
  width: 100%;
  height: 250px;
  background-image: url(imagenes/Pesca.jpeg);
  position: relative;
  background-size: cover; /* Escala la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
}
.tittle_zoom4 {
  width: 100%;
  height: 250px;
  background-image: url(imagenes/Combo\ Isla.jpeg);
  position: relative;
  background-size: cover; /* Escala la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
}

.tittle_zoom5 {
  width: 100%;
  height: 250px;
  background-image: url(imagenes/carbonera.jpeg);
  position: relative;
  background-size: cover; /* Escala la imagen para que cubra todo el contenedor */
  background-repeat: no-repeat;
}

.tittle_zoom4 h2 {
  font-size: 20px;
}

.tittle_zoom p {
  margin-top: 30px;
}
.icono-flotante {
  width: 80px;
  height: 25px;
  background-color: var(--amarillo);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 130px;
  z-index: 99999;
  top: 150;
  margin-left: 0px;
  color: white;
  margin-left: 10px;
}

.icono-flotante2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 30%;
  z-index: 9999;
  top: 0;
}

.fathercontainer i {
  color: var(--verde);
  font-size: 20px;
}

.conts a {
  background-color: var(--azul);
  width: 100%;
}

.fondomodal {
  display: none;
  padding: 150px;
  position: fixed;
  text-align: center;
  left: 100;
  top: 0;
  margin: auto;
  transition: all 0.5s;
}
.contenidomodal {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  width: 300px;
  height: 350px;
}
.forms {
  text-align: center;
  height: 150px;
  padding-top: 20px;
}
.btn-form {
  display: inline-block;
  margin: auto;
  display: block;
  text-align: center;
  background-color: var(--azul);
  color: white;
  border-radius: 5%;
  padding: 7px 15px;
  text-decoration: none;
  margin-top: 10px;
}
.estructuramodal h4 {
  color: #888;
}
.cerrarmodal {
  cursor: pointer;
  color: black;
  font-size: 20px;
  transition: all 0.5s;
  position: fixed;
  left: 400px;
  top: 160px;
}

footer {
  max-width: 100%;
  height: 300px;
  background-color: var(--azul);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: auto;
  margin-top: 50px;
}

.cont3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.cont3_icons div {
  margin-top: 10px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.cont3 li {
  list-style: none;
}
div.cont3_icons i {
  font-size: 30px;
}

.cont3_icons {
  width: 430px;
}
