:root {
  --blanco: #dfdcdc;
  --azul: #0959a5;
  --border: 1px;
}
@media screen and (max-width: 430px) {
  header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  svg {
    width: 50%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .primerheader {
    flex-wrap: wrap;
  }
  .cont_padre1 {
    width: 100%;
  }
  nav {
    flex-direction: column;
    display: inline-block;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
  }

  nav a {
    padding: 10px;
    border: 0;
    border-bottom: 2px #333 solid;
    color: #333;
    width: 100%;
  }
  .contenedor_arriba {
    width: 100%;
    flex-direction: column;
  }
  .icono_circulo {
    display: flex;
  }
  .cont {
    width: 100%;
    display: none;
  }

  .cont_filtro_letra2 p {
    font-size: 8px;
  }

  .contlogo {
    width: 100%;
    background-color: white;
    justify-content: center;
    display: flex;
  }

  .pmenu {
    display: flex;
  }
  .flexs {
    margin-top: 10px;
    width: 100%;
    flex-direction: column;
  }
  .conticon {
    width: 100%;
    height: auto;
    background-color: var(--azul);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .conticon p {
    color: white;
    margin: auto;
    font-size: 20px;
    padding: 10px;
  }

  .slide {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 24px;
  }

  .slide h2 {
    font-size: 24px;
    color: white;
  }

  .slide p {
    margin-bottom: 50px;
    font-size: 20px;
  }
  .slide-buttons i {
    color: white;
    padding: 10px;
    background-color: var(--azul);
  }

  ul.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  ul.tabs li {
    width: 100%;
  }
  .tabs i {
    margin: 10px;
  }

  #carousel {
    flex-wrap: wrap;
  }
  .slide {
    width: 150px;
    height: 300px;
  }
  .indicators {
    width: 100px;
  }

  #tab1 figure {
    width: 380px;
    margin-bottom: 10px;
  }

  .c2 {
    flex-direction: column;
  }

  .cont_filtro_img figure {
    width: 350px;
  }

  .porcent {
    width: 90%;
    margin: auto;
  }

  .c4 {
    text-align: center;
  }
  .contenedor_general_animate {
    flex-direction: column;
  }

  .conts {
    transform: scale(0.8);
    height: 450px;
  }

  .conts:hover {
    transform: scale(1);
  }

  footer {
    height: 1100px;
    flex-direction: column;
  }

  .cont3_icons {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .cont_filtro_letras {
    width: 80%;
    height: auto;
  }
  .cont3_icons div {
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
  }

  div.cont3_icons i {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .cont3 {
    flex-direction: column;
    width: 100%;
  }
}
